{% extends "blog/base.html"%}

{% block main %}
    <h1>Reset your password</h1>
    <p>Enter your e-mail address to obtain a new password.</p>

    <!-- 无django-bootstrap3支持 -->
    <!-- <form action="." method="post"> -->
    {#{ form.as_p }#}
    <!-- <p><input type="submit" value="Send e-mail"></p> -->
    {#% csrf_token %#}
    <!-- </form> -->

    <!-- 引入django-bootstrap3支持 -->
    {% load bootstrap3 %}
    <form action="." method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Send e-mail
        </button>
    </form>
{% endblock%}
