{% extends "blog/base.html" %}

{%block main_heading%}
    <h2>Archives</h2>
{% endblock %}

{% block main%}
    <div class="tags">
        <label class="active">
            All
            <input type="radio" name="category" value="all" style="display:none"></input>
        </label>
        {% for category in category_list%}
            <label>
                {{category.name}}
                <input type="radio" name="category" value="{{category.name}}" style="display:none"></input>
            </label>
        {% endfor%}
    </div>

    <div class="sort">
        <label>
            <input type="radio" name="sort" value="time" checked="checked"> 按时间排序
        </label>
        <label>
            <input type="radio" name="sort" value="recommend"> 按热度排序
        </label>
        <label>
            <input type="radio" name="sort" value="comment"> 按评论排序
        </label>
    </div>
    <div id="all-post-list">
        {% if article_list %}
            {% with post_list=article_list %}
                {% for post in post_list %}
                    {% include "blog/include/all_post.html"%}
                {% endfor %}
            {% endwith %}
        {% endif %}
    </div>

    <div id="loading" style="height:100px;line-height:100px;text-align:center;display:none;">
        <img src="/static/gif/loading.gif" alt="" width="50">
    </div>

    <button id="all-post-more" type="button" class="btn btn-default" value="all" style="width:100%">
        MORE
    </button>

{% endblock %}

{% block js%}

    <script language="javascript" type="text/javascript">

     var start = 0;
     var end = parseInt({{PAGE_NUM}});

     $("input[name='category']").click(function(){
         start = 0;
         end = parseInt({{PAGE_NUM}});
         $("input[name='category']").parent().removeClass("active");
         $("#all-post-more")[0].style.display = "none";
         $("#loading")[0].style.display = "block";

         $("#all-post-list").empty();
         $(this).parent().addClass("active");
         $("#all-post-more").val($(this).val());
         $.ajax({
             type:"POST",
             url:"/all/",
             data:{"val":$(this).attr("value"),"sort":$("input[name='sort']:checked").val(),"start":start,"end":end, "csrfmiddlewaretoken":'{{csrf_token}}'},
             /* beforeSend:function(xhr){
              *     xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
              * }, */
             success:function(data,textStatus){
                 $("#loading")[0].style.display = "none";
                 $('#all-post-list').append(data["html"]);
                 if(data["isend"])
                     {
                         $("#all-post-more")[0].style.display = "none";
                     }else{
                         $("#all-post-more")[0].style.display = "block";
                     }
             },
             error:function(XMLHttpRequest, textStatus, errorThrown){
                 alert(XMLHttpRequest.responseText);

             }
         });
     });

     $("input[name='sort']").click(function(){
         start = 0;
         end = parseInt({{PAGE_NUM}});
         $("#all-post-more")[0].style.display = "none";
         $("#loading")[0].style.display = "block";

         $("#all-post-list").empty();

         /* ajax发送post请求时，需通过csrftoken验证 */
         /* 可以使用以下ajaxSetup函数或在请求数据中加入csrfmiddlewaretoken数据。 */
         /* $.ajaxSetup({ */
         /* data:{csrfmiddlewaretoken:'{{ csrf_token }}'}, */
         /* }); */

         $.ajax({
             type: 'POST',
             url: "{% url 'all-view' %}",
             data: {"val":$("label.active input").val(),"sort":$("input[name='sort']:checked").val(),"start":start,"end":end, "csrfmiddlewaretoken":'{{csrf_token}}'},
             /* beforeSend: function(xhr){
              *     xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
              * }, */
             success: function(data,textStatus){
                 $("#loading")[0].style.display = "none";
                 $('#all-post-list').append(data["html"]);
                 if(data["isend"])
                     {
                         $("#all-post-more")[0].style.display = "none";
                     }else{
                         $("#all-post-more")[0].style.display = "block";
                     }
             },
             error: function(XMLHttpRequest, textStatus, errorThrown){
                 alert(XMLHttpRequest.responseText);
             }
         });
     });

     $("#all-post-more").click(function(){
         start = end;
         end += 5;
         $("#loading")[0].style.display = "block";
         $.ajax({
             type:"POST",
             url:"/all/",
             data:{"val":$(this).attr("value"),"sort":$("input[name='sort']:checked").val(),"start":start,"end":end, "csrfmiddlewaretoken":'{{csrf_token}}'},
             /* beforeSend:function(xhr){
              *     xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
              * }, */
             success:function(data,textStatus){
                 $("#loading")[0].style.display = "none";
                 $("#all-post-more")[0].style.display = "none";
                 $('#all-post-list').append(data["html"]);

                 if(data["isend"])
                     {
                         $("#all-post-more")[0].style.display = "none";
                     }else{
                         $("#all-post-more")[0].style.display = "block";
                     }

             },
             error:function(XMLHttpRequest, textStatus, errorThrown){
                 alert(XMLHttpRequest.responseText);
             }
         });
     });

    </script>
{% endblock %}
