{% extends "blog/base.html" %}

{%block main_heading%}
    <h1>{{heading}}</h1>
    <span class="subheading">{{subheading}}</span>
{% endblock %}

<!-- Main Content -->
{%block main%}
    {% if article_list %}
        {% with post_list=article_list %}
            {% for post in post_list %}
                {% url 'article-detail-view' post.id as article_url %}
                <div class="post-preview">
                    <a href="{{article_url}}">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>

                        <h3 class="post-subtitle">
                            {{post.subtitle}}
                        </h3>
                    </a>

                    <p class="post-meta">
                        Posted by
                        <a href="#">{{post.author}}</a>
                        on {{post.pub_time|date:"Y-m-d" }}
                        <span>
                            <span class="glyphicon glyphicon-eye-open"></span>
                            {{post.view_times}}
                        </span>
                        {% autoescape off%}
                            {{post.summary|slice:"50" }}
                        {% endautoescape %}
                        {% if post.summary|length > 50 %}
                            ...
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        {% endwith %}
    {% endif %}
    <!-- Pager -->
    {% if page_obj%}
        {% include "blog/include/pagination.html"%}
    {% endif %}
{% endblock %}
